.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.nyc_output
.github/**
.yarn/**
yarn.lock
package-lock.json
node_modules/**
*.vsix
.ruby-lsp/
